/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
*, *::before, *::after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
.page{
    margin: 2rem 0 0 0;
    height: 100vh;
    background-repeat: no-repeat;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-flex-line-pack: start;
        align-content: start;
    grid-gap: 1rem;
}
.page__header{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5rem 25px;
    grid-template-columns: 1fr 25px;
    width: min(85%, 700px);
    min-width: 320px;
    -ms-flex-line-pack: start;
        align-content: start;
    grid-gap: 1.5rem;
}
.page__title{
    text-transform: uppercase;
    margin: 0;
    color: hsl(0, 0%, 98%);
    letter-spacing: .5rem;
    font-size: 1.5rem;
}
.page__input{
    -ms-grid-column-span: 2;
    grid-column: span 2;
    height: 3rem;
    border: 1px hsl(0, 0%, 98%);
    font-size: clamp(.6rem, 1.5vw, 1rem);;
    border-radius: .25rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    outline: 0;
    font-weight: 700;
}
.checkbox{
    width: 1rem;
    height: 1rem;
    border: 1px solid hsl(231, 10%, 25%);
    border-radius: 50%;
    margin: 0 .75rem;
}
.page__input-container{
    height: 3rem;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    border-radius: .25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.todo_list{
    -webkit-box-shadow: 2px 0px 50px 20px rgba(0,0,0,0.1);
            box-shadow: 2px 0px 50px 20px rgba(0,0,0,0.1);
    border-radius: .25rem;
    width: min(85%, 700px);
    min-width: 320px;
}
.fas{
    color: hsl(0, 0%, 98%);
    cursor: pointer;
}
.todo_list__tasks{
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    border-radius: .25rem .25rem 0 0;
}
.todo_list__item{
    list-style: none;
    font-size: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .75rem .75rem .75rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.253);
}
.todo_list__check{
    width: 1rem;
    height: 1rem;
    border: 1px solid hsl(231, 10%, 25%);
    border-radius: 50%;
    margin: 0 .75rem;
    cursor: pointer;
}
.todo_list__check:hover, .checkbox:hover{
    border: 1px solid hsl(220, 98%, 61%);
}
.todo_list__check--complete{
    background: url("../images/icon-check.svg"), -o-linear-gradient(315deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background: url("../images/icon-check.svg"), linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border: 0;
}
.todo_list__footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: clamp(.6rem, 1.5vw, .8rem);
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 1rem;
}
.todo_list__incompleted{
    color: hsl(234, 11%, 52%);
    font-size: clamp(.5rem, 1.5vw, .7rem);
}
.todo_list__cls-completed{
    color: hsl(234, 11%, 52%);
    font-size: clamp(.5rem, 1.5vw, .7rem);
    cursor: pointer;
}
.todo_list__status--desktop{
    display: none;
    gap: .5rem;
}
.todo_list__status--mobile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    width: min(85%, 700px);
    min-width: 320px;
    -webkit-box-shadow: 2px 3px 2px 1px rgba(0,0,0,.1);
            box-shadow: 2px 3px 2px 1px rgba(0,0,0,.1);
    border-radius: .25rem;
    padding: .9rem 0;
    color: hsl(234, 86%, 17%);
}
.todo_list__button{
    padding: 0;
    border: 0;
    background-color: unset;
    font-size: clamp(.65rem, 1.5vw, .8rem);
    outline: 0;
    font-weight: 700;
    color: hsl(234, 11%, 52%);
    cursor: pointer;
}
.todo_list__delete{
    border: 0;
    background-color: unset;
    opacity: 0;
    width: .75rem;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
.todo_list__delete:hover{
    opacity: 1;
}
.todo_list__task{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;   
    font-size: clamp(.6rem, 1.5vw, 1rem);
    opacity: .7;
    font-weight: 300;
    cursor: pointer;
}
.todo_list__task--completed{
    text-decoration: line-through;
    opacity: .3;
    font-size: clamp(.6rem, 1.5vw, 1rem);
}
.todo_list__button--active{
    color: hsl(220, 98%, 61%);
    opacity: 1;
}
.hide{
    display: none;
}

@media only screen and (min-width: 400px){
    .todo_list__status--mobile{
        display: none;
    }
    .todo_list__status--desktop{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and (max-width: 1080px){
    .todo_list__delete{
        opacity: 1;
    }
}